@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');
:root {

  --color-primary: #219ebc;
  --color-primary-light: #8ecae6;
  --color-primary-dark: #023047;

  --color-secondary: #fb8500;
  --color-secondary-light: #ffb703;

  --color-danger: #ff6761;
  --color-success: #04d1b6;
  --color-info: #318f82;
  --color-warning: #fae18e;

  --color-white: #fffefe;
  --color-grey-1: #f1f1f1;
  --color-grey-2: #e2e2e2;
  --color-grey-3: #d4d4d4;
  --color-dark: #1b1b1b;
  --color-white: #fcf8f8;

  --m-xxs:0.1rem;
  --m-xs:0.5rem;
  --m-s:1rem;
  --m-m:1.5rem;
  --m-l:2rem;
  --m-xl:2.5rem;

  --padding: 1rem 10rem;

  --primary-gradient: linear-gradient(to right, var(--color-primary-light), var(--color-primary));
  --secondary-gradient: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
  --tertiary-gradient: linear-gradient(to right, var(--color-primary-light), var(--color-grey-3));

  --danger-gradient: linear-gradient(to right,#ffcccb, var(--color-danger));

  --primary-gradient-btn: radial-gradient(var(--color-primary), var(--color-primary-light));
  --secondary-gradient-btn: radial-gradient(var(--color-danger) 80%,var(--color-secondary));


}

html{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans';
  color: var(--color-dar);
  letter-spacing: 0.3px;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-white);
  /* padding: var(--padding); */
}

header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  margin: 0;
  background-image: var(--primary-gradient);
}

header ul{
  display: flex;
  flex-direction: row;
}

header ul a{
  width: 10rem; 
}

header ul li {
  list-style: none;
}

header ul li:not(:last-child) {
  margin-right: 2rem;
}

header ul li a{
  text-decoration: none;
  color: var(--color-white);
}

header ul li a:hover{
  text-decoration: none;
  border-bottom:1px white solid;
}

h1, h2, h3, h4, h5{
  font-family: Nunito;
}

h3{
  margin: var(--m-s) 0;
}

h4{
  margin: var(--m-xs) 0;
}

h1{
  margin-bottom: var(--m-m) 0;
}

.logo{
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-white);
}

.wrapper{
  padding: var(--padding);
  display: flex;
  flex-direction: column;
}

.wrapper.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: 1rem;
  padding: 4rem;
  justify-content: center;
  align-content: center;
}

.wrapper.grid>*{
  transform:scale(0.75);
  place-self: center;
}

.wrapper.grid>*:hover{
  transform:scale(0.8)
}

.card-section{
  padding:var(--padding);
  background-image: var(--primary-gradient);
}

.wrapper-people-card{
  gap: 2rem;
  margin-bottom: 2rem;
}

.wrapper-card{
  gap: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

.wrapper-card > *{
  /* border: 2px red solid; */
}

.card{
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  min-width: 13rem;
  /* border: 1px black solid; */
  border-radius: 1rem ;
  overflow: hidden;
  text-align: center;
  background-color: var(--color-white);
  box-shadow: 3px 3px 15px rgba(0,0,0,0.25);
  transition: 0.25s all;
  cursor: pointer;
}

.card-description.event{
  align-items: flex-start;
}

.card-bottom{
  display: flex;
  justify-content: space-around;
  align-items:baseline;
  border: 1px red solid;
  width: 100%;
}

.card-bottom span{
  font-size: 1.2rem;
}

.dates{
  border:1px var(--color-grey-3) solid;
  padding: 0.25rem;
}

.ranking{
  margin-right: 0.25rem;
}

.card.event{
  width: 25rem;
  min-height:25rem;
}

.card.event img{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}

.card.event h5{
  font-size: 1.2rem;
}

.card:hover{
  transform: scale(1.025);
}

.card-image{
  height: 70%;
  position: relative
}

.fa-heart{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--color-white);
  font-size: 2rem;
}

.fa-heart:hover{
  color: rgb(248, 71, 145);
}



.card-description{
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  height: 30%;
  padding: 0.5rem;
  flex-direction: column; 
}

.info-coworking{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.booking-and-dates{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-top: 1rem;
}

.card-description.event{
  padding:1rem;
  justify-content: space-between;
}

.card-description.event > div{
  text-align: left;
}

.card.event .card-image{
  height: 60%;
}

.card-description.event .btn{
  margin: 0;
}

.card-image.primary{
  background-color: var(--color-primary);
}

.card-image.primary-light{
  background-color: var(--color-primary-light);
}

.card-image.secondary{
  background-color: var(--color-secondary);
}

.card-image.secondary-light{
  background-color: var(--color-secondary-light);
}

.card-image.danger{
  background-color: var(--color-danger);
}

.card-image.warning{
  background-color: var(--color-warning);
}
.card-image.info{
  background-color: var(--color-info);
}

.card-image.success{
  background-color: var(--color-success);
}

.card-image.grey1{
  background-color: var(--color-grey-1);
}

.card-image.grey2{
  background-color: var(--color-grey-2);
}

.card-image.grey3{
  background-color: var(--color-grey-3);
}

.card-image.dark{
  background-color: var(--color-dark);
}

.people-card{
  display: flex;
  flex-direction: row;
  height: 5rem;
  width: 20rem;
  /* border: 1px black solid; */
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;
  background-color: var(--color-white);
  box-shadow: 3px 3px 15px rgba(0,0,0,0.25);
  transition: 0.25s all;
  cursor: pointer;
  place-self: center;
}

.people-card-image{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.people-card-avatar-radius{
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.people-card-avatar-radius img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  object-position: center;
}

.people-card-description{
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 70%;
  padding: 0.5rem;
}

.people-card-image.primary{
  background-color: var(--color-primary);
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  object-fit: contain;
}

.typo{
  background-image: var(--secondary-gradient)
}

.typo > div{
  padding: var(--padding);
  padding-top:3rem;
  padding-bottom:3rem;

  color: var(--color-white);
}


.btn{
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding:0.75rem 1.5rem;
  border:1px var(--color-dark) solid;
  border-radius: 3rem;
  margin:var(--m-s);
  box-shadow: 3px 3px 15px rgba(0,0,0,0.25);
  /* transition: 0.25s all; */
}

.btn:hover{
  animation: my-anim 4s;
}

.btn:active{
  transform: translateY(0);
}

.btn-primary{
  background-image: var(--primary-gradient-btn);
  border-color: transparent; 
  color: var(--color-white);
}

.btn-secondary{
  background-image: var(--secondary-gradient-btn);
  border-color: transparent; 
  color: var(--color-white);
}

.btn-outline-light{
  background-color: transparent;
  border:3px var(--color-white) solid;
  color: var(--color-white);
  }

.btn-outline-dark{
  background-color: transparent;
  color: var(--color-primary-dark);
  border:3px var(--color-primary-dark) solid;
}

.btn-light{
  background-color: var(--color-white);
  color: var(--color-primary-dark);
  border:3px var(--color-primary-dark) solid;
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.4);
}

.background-btn-block{
  background-image: var(--secondary-gradient);
}

label{
  font-size: 1.1rem;
  margin-right: 1rem;
  width: 15rem;
  margin:var(--m-xxs);
}


form > div {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* background:lightblue; */
  margin:0.1rem 0;
}

input[type=text]{
  background-color: var(--color-white);
  color: var(--color-dark);
  font-family: inherit;
  border: 2px var(--color-primary-dark) solid;
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 1.1rem;
}

/* .checkbox-parent{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  height: 2rem;
}

.checkbox-parent input{
  position: absolute;
  opacity: 1;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 3px red solid;
} */

select{
  width: 25rem;
  background-image: var(--color-white);
  color: var(--color-dark);
  padding: .7rem;
  font-family: inherit;
  border: 2px var(--color-primary-dark) solid;
  border-radius: 5px;
}


@keyframes my-anim {
  0%{
    transform: rotate(0);
  }

  50%{
    transform: rotate(-720deg);
  }

  100%{
    transform: rotate(-360deg);
  }
}

.activity-grid{
  display: grid;
  grid-template-columns:repeat(15,1fr);
  gap: 1rem;
  margin: 1rem 0 ;
}

.people-card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  margin: 1rem 0 ;
  transition: 2.50s all;
}

/* .people-card-grid:hover{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  margin: 1rem 0 ;
  justify-content: center;
  align-content: center;
  border: blue 1px solid;
} */

.activity-grid i{
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  /* transition: 0.25s all; */
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-grid.map i {
  color: var(--color-white);
  background-color: var(--color-danger);
}

.activity-grid.dark i {
  color: var(--color-grey-2);
  background-color: var(--color-primary-dark);
}

.activity-grid.medium i {
  color: var(--color-grey-2);
  background-color: var(--color-primary);
  border: 1px var(--color-primary-dark) solid;
}

.activity-grid i:hover {
  /* transform: scale(1.1); */
  animation:  my-anim 1s;

}

.activity-grid.dark.city{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.list{
  border:1px var(--color-dark) solid;
  width: 30rem;
  border-radius: 0.5rem;
  overflow: hidden;

}

.list h4{
  margin-top: 0;
}

.list li{
  list-style: none;
  /* border: 1px red solid; */
  padding: 1rem;
  position: relative;
  transition: 0.25s background-color;
  cursor: pointer;
}

.list li:not(:last-child){
  border-bottom: 1px var(--color-grey-2) solid;
}

.list small{
  font-size: 0.7rem;
}

.list h4{
  font-size: 1.2rem;
}


.top-right{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.list li:hover{
  background-color: var(--color-primary);
  color: var(--color-white);
}

.list li:active{
  opacity: 0.8;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup h3{
  margin-top: 0;
  margin-bottom: 2rem;
}

.signup .signup-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px var(--color-primary-dark) solid;
  border-radius: 10px;
  width: 40rem;
  padding: 3rem;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.25);
}

.signup input[type=text],
.signup input[type=date]{
  width: 35rem;
  height: 2rem;
  margin:var(--m-xs);
  padding: 0.5rem;
  border: 1px var(--color-primary-dark) solid;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  font-weight: lighter;
  background-color: white;
  outline: none;
  color: var(--color-primary-dark);
  /* position: relative; */
}

.signup input[type=date]::placeholder {
  color: grey;
}

.signup input[type=submit] {
  width: 35rem;
  font-size: 1rem;
  margin-top: 3rem;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signin .signin-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px var(--color-primary-dark) solid;
  border-radius: 10px;
  width: 20rem;
  padding: 3rem;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.25);
}

.signin input[type=text] {
  border: 2px var(--color-primary-dark) solid;
  border-radius: 10px;
  margin:var(--m-s);
  width: 20rem;
  height: 2rem;
  font-weight: lighter;
  outline: none;
}

.signin input[type=submit] {
  width: 20rem;
  font-size: 1rem;
}

footer{
  padding: 4rem 0;
  background-image:var(--primary-gradient);

}

footer div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--color-white);
}

footer h4{
  font-size: 1.2rem;
}

footer ul{
  /* border:2px black solid; */
}

footer li{
  list-style: none;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}